#grid_hz{
  display: grid;
  grid-template-columns: 6fr 1fr;

  min-width: 800px;
  max-width: 1200px;
  margin: 0 auto 0 auto;
}

.side {
  background-image: url("C:\Users\김소혜\Documents\SPARTA Cording Club\frontend_React\Assignmnt_Psn\typescript-assign\illust.png");
  background-position: center;
  width: 240px;
  height: 500px;
  margin-top: 30%;
}

.cards {
  margin: 5px 5px 5px 5px;
}

.workingCards {
  margin-left: 10px;
  margin-bottom: 7vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.doneCards {
  margin-left: 10px;
  margin-bottom: 7vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.Buttons{
  float: right;
  display: inline;
}

.title {
  display: inline;
  margin-bottom: 5px;
}

#grid {
  display: grid;
  grid-template-columns: 1fr 1fr 76px;  
}

.todotitle {
  display: inline;
  max-width: 40vw;
}

.date {
  display: inline;
  max-width: 40vw;
}

.addButton {
  max-width: 76px;
  float: right;
}

.addToDo > Form {
  margin-left: 10px;
  display: inline;
}